* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    margin:0;
}

h1{
    text-align: center;
    font-family: sans-serif;
}

label{
    padding: 0 10px;
    display:block;
    color:grey;
    margin-bottom:0.5rem;
}

.wrapper{
    width:50%;
    display: flex;
    flex-wrap: wrap;
    margin:auto;
}

.desc{
    width:100%;
    border: 1px solid grey;
    padding: 0.5rem 0 1rem 0;
}

.category{
    width:50%;
    border: 1px solid grey;
    padding: 0.5rem 0 1rem 0;
}

.duedate{
    width:50%;
    border: 1px solid grey;
    padding: 0.5rem 0 1rem 0;
}

.desc:focus-within,.category:focus-within,.duedate:focus-within{
    background-color: lightgray;
}

input[type="text"],input[type="date"]{
    width:100%;
    background-color: transparent;
    color:grey;
    border:none;   
    padding: 0 10px;
    font-size: 1rem; 
    box-shadow: none;
}

input[type="text"]:focus,input[type="date"]:focus,select:focus{
    border:none;    
    outline: none;
}

select{
    width: 100%;
    border:none;
    padding: 0 10px;
    background-color: transparent;
    font-size: 1rem;
}

.add-task{
    text-align: center;
}
.add-task i{ 
    margin-right: 1rem;
}
.add-task button{
    margin-top: 2rem;
    background-color: #483838;
    color:white;
    font-size: 1.5rem;
    padding:0.8rem;
}


input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
    box-shadow: 0 0 0 30px white inset !important;
}
 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px lightgray inset !important;
    box-shadow: 0 0 0 30px lightgray inset !important;
}

/* list of to dos */
ul {
    list-style-type: none;
    padding: 0;
    width:50%;
    margin:1.5rem auto;
}
ul li {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: inherit;
    align-items: center;
}
ul li:hover {
    background: #f3f3f3;
}


#list input {
    padding: 0;
    height: initial;
    width: initial;
    margin-bottom: 0;
    display: none;
    cursor: pointer;
}
  
#list label {
    font-size: 1.2rem;
    position: relative;
    cursor: pointer;
}
  
#list label:before {
    content:'';
    -webkit-appearance: none;
    background-color: transparent;
    border: 2px solid #0079bf;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
    padding: 10px;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    cursor: pointer;
    margin-right: 10px;
}

#list input:checked + label:after {
    content: '';
    display: block;
    position: absolute;
    top: 2px;
    left: 17px;
    width: 6px;
    height: 14px;
    border: solid #fff;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}
#list input:checked + label:before {
    background: #0079bf;
} 
#list input:checked + label,#list input:checked ~ .calender-icon {
    text-decoration: line-through;
}

.delete {
    height: 28px;
    padding: 5px 0px;
    border-radius: 3px;
}
.delete:hover {
    background: #f2f2f2;
    cursor: pointer;
}

.calender-icon{
    position: absolute;
    top: 25px;
    left:50px;
    color:grey;
    font-size: 0.75rem;
    padding:0.3rem 0;
}

.list-desc{
    position: relative;
    width:70%;
}

.list-label{
    background-color: violet;
    padding: 0.5rem;
    width:12%;
    text-align: center;
    color: #E94560;
}